@charset "utf-8";


:root {
    --color: #fff;
  }

  
*{
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}


.container {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg, #4C5153, #0F3342);
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}


/* to-do app */


.todo-app {
    width: 100%;
    max-width: 400px;
    background: rgb(15 51 66/0.5);
    padding: 40px 30px 40px;
    border-radius: 10px;
}


.todo-app h2 {
    color: var(--color);
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}


.todo-app h2 img {
    width: 30px;
    margin-left: 10px;
}


.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #edeef0;
    border-radius: 7px;
    padding-left: 2px;
    margin-bottom: 12px;
    width: 250px;
    position: relative;
}


input {
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
    font-weight: 14px;
}


button {
    position: absolute;
    left: 255px;
    border: none;
    outline: none;
    padding: 9px 27px;
    background: #ff5945;
    color: var(--color);
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}


/* tasks lists*/

nav ul li {
   list-style: none;
   color: #fff;
   font-size: 17px;
   padding: 12px 8px 12px 50px;
   user-select: none;
   cursor: pointer;
   position: relative;
}


nav ul li::before {
    content: '';
    position: absolute;
    height: 18px;
    width: 18px;
    border-radius: 50%;
    background-image: url(/assets/image/unchecked.png);
    background-size: cover;
    background-position: center;
    top: 12px;
    left: 8px;
}


ul li.checked {
    color: #555;
    text-decoration: line-through;
}


ul li.checked::before {
    background-image: url(/assets/image/checked.png);
}


ul li span{
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: #555;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}


ul li span:hover{
    background: #edeef0;
}


/* Media queries */
/* MOBILE view */


@media (min-width: 270px) and (max-width: 450px) {
    body {
        height: 100vh;
        width: 100%;
    }

    .todo-app {
    padding: 40px 20px 40px 50px ;
    }

    .row {
        position: relative;
        width: 90%;
    }

    input {
        width: 60%;
    }

    input[type] {
        font-size: 15px;
        font-weight: 300;
    }

    button {
        position: static !important;
        margin-right: 3px;
        padding: 5px 20px;
    }
}

/* TABLET view */
@media (min-width: 600px)  {
    
}
